{
  "schemes": ["https", "http"],
  "swagger": "2.0",
  "info": {
    "description": "",
    "title": "Redtrack API",
    "contact": {},
    "version": "latest"
  },
  "host": "api.redtrack.io",
  "basePath": "/",
  "paths": {
    "/browser_fullnames": {
      "get": {
        "description": "Browsers names list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Browsers names list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.BrowserFullName"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/browsers": {
      "get": {
        "description": "Browsers list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Browsers list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.Browser"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "description": "Get campaigns list with statistics. Returns array by default, or {total, items} when total_stat=true",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Campaigns"],
        "summary": "Get campaigns list",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Filter by title",
            "name": "title",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by campaign IDs (comma-separated)",
            "name": "ids",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by source IDs (comma-separated)",
            "name": "sources",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status (comma-separated)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by tags (comma-separated)",
            "name": "tags",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Items per page",
            "name": "per",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Time interval",
            "name": "time_interval",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Date from (YYYY-MM-DD)",
            "name": "date_from",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Date to (YYYY-MM-DD)",
            "name": "date_to",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Timezone",
            "name": "timezone",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include total statistics (changes response format)",
            "name": "total_stat",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response (array)",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.Campaign"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "post": {
        "description": "Create campaign",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Campaigns"],
        "summary": "Create campaign",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "campaign data",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.Campaign"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/models.Campaign"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/campaigns/status": {
      "patch": {
        "description": "Update status for multiple campaigns",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Campaigns"],
        "summary": "Update campaigns status",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Campaign IDs (comma-separated)",
            "name": "ids",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Status (1-active, 2-paused, 3-deleted)",
            "name": "status",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/campaigns/v2": {
      "get": {
        "description": "Get campaigns list with statistics (v2)",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Campaigns"],
        "summary": "Get campaigns list (v2)",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Filter by title",
            "name": "title",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by campaign IDs (comma-separated)",
            "name": "ids",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by source IDs (comma-separated)",
            "name": "sources",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status (comma-separated)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by tags (comma-separated)",
            "name": "tags",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Items per page",
            "name": "per",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Time interval",
            "name": "time_interval",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Date from (YYYY-MM-DD)",
            "name": "date_from",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Date to (YYYY-MM-DD)",
            "name": "date_to",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Timezone",
            "name": "timezone",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/gin.H"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "description": "Get campaign by ID",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Campaigns"],
        "summary": "Get campaign by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Campaign ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Campaign"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "put": {
        "description": "Update campaign",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Campaigns"],
        "summary": "Update campaign",
        "parameters": [
          {
            "type": "string",
            "description": "campaign id",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "campaign data",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.Campaign"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/models.Campaign"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "description": "Categories list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Categories list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.Category"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/cities": {
      "get": {
        "description": "Cities list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Cities list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.City"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/connection_types": {
      "get": {
        "description": "Connection types list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Connection types list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/conversions": {
      "get": {
        "description": "Get list of conversions by filters",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Logs"],
        "summary": "Get conversions log",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "2022-04-22",
            "description": "date from",
            "name": "date_from",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "2022-04-22",
            "description": "date to",
            "name": "date_to",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "lasthour",
            "description": "custom time interval",
            "name": "time_interval",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d",
            "description": "filter by click id",
            "name": "clickid",
            "in": "query"
          },
          {
            "type": "string",
            "example": "US",
            "description": "filter by country code",
            "name": "country_code",
            "in": "query"
          },
          {
            "type": "string",
            "example": "default_type,type1",
            "description": "filter by conversion type",
            "name": "type",
            "in": "query"
          },
          {
            "type": "string",
            "example": "Purchase,AddToCart",
            "description": "filter by type role",
            "name": "type_role",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d,61f190c31cfe1c000181572e",
            "description": "filter by campaigns",
            "name": "campaign_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d,61f190c31cfe1c000181572e",
            "description": "filter by sources",
            "name": "source_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572e",
            "description": "filter by offers",
            "name": "offer_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572e",
            "description": "filter by networks",
            "name": "network_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572e",
            "description": "filter by fingerprint",
            "name": "fingerprint",
            "in": "query"
          },
          {
            "type": "integer",
            "example": 1,
            "description": "page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "example": 100,
            "description": "page limit, max 10000",
            "name": "per",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/gin.H"
                },
                {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/models.ConversionView"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "post": {
        "description": "Create new or update existing conversions",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Logs"],
        "summary": "Upload conversions",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "Conversions list",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/client.ConversionUploadRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/conversions/export": {
      "get": {
        "description": "Get list of conversions by filters",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Logs"],
        "summary": "Get conversions log",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "2022-04-22",
            "description": "date from",
            "name": "date_from",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "2022-04-22",
            "description": "date to",
            "name": "date_to",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "lasthour",
            "description": "custom time interval",
            "name": "time_interval",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d",
            "description": "filter by click id",
            "name": "clickid",
            "in": "query"
          },
          {
            "type": "string",
            "example": "US",
            "description": "filter by country code",
            "name": "country_code",
            "in": "query"
          },
          {
            "type": "string",
            "example": "default_type,type1",
            "description": "filter by conversion type",
            "name": "type",
            "in": "query"
          },
          {
            "type": "string",
            "example": "Purchase,AddToCart",
            "description": "filter by type role",
            "name": "type_role",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d,61f190c31cfe1c000181572e",
            "description": "filter by campaigns",
            "name": "campaign_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d,61f190c31cfe1c000181572e",
            "description": "filter by sources",
            "name": "source_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572e",
            "description": "filter by offers",
            "name": "offer_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572e",
            "description": "filter by networks",
            "name": "network_id",
            "in": "query"
          },
          {
            "type": "integer",
            "example": 1,
            "description": "page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "example": 100,
            "description": "page limit, max 10000",
            "name": "per",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "system - recipient of report",
            "name": "report_recipient",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/gin.H"
                },
                {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/models.ConversionView"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "description": "Countries list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Countries list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.Country"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "description": "Currencies list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Currencies list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.Currency"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/device_brands": {
      "get": {
        "description": "Device brands list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Device brands list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.DeviceBrand"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/device_fullnames": {
      "get": {
        "description": "Device names list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Device names list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.DeviceFullName"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/devices": {
      "get": {
        "description": "Devices list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Devices list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.Device"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/domains": {
      "get": {
        "description": "Get domains",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Domains"],
        "summary": "Get domains",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "track, pub, advert",
            "description": "Domain type",
            "name": "type",
            "in": "query"
          },
          {
            "type": "integer",
            "example": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "example": 10,
            "description": "Domains per page",
            "name": "per",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/gin.H"
                },
                {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/protobuf.Domain"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "post": {
        "description": "Create domain",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Domains"],
        "summary": "Create domain",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "Domain",
            "name": "domain",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/protobuf.Domain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/protobuf.Domain"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/domains/regenerated_free_ssl/{id}": {
      "post": {
        "description": "Regenerated free SSL",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Domains"],
        "summary": "Regenerated free SSL",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Domain id",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/domains/{id}": {
      "put": {
        "description": "Update domain",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Domains"],
        "summary": "Update domain",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Domain id",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Domain",
            "name": "domain",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/protobuf.Domain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/protobuf.Domain"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "delete": {
        "description": "Delete domain",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Domains"],
        "summary": "Delete domain",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Domain id",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/emptypb.Empty"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/isp": {
      "get": {
        "description": "ISP list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "ISP list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.ISP"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/landings": {
      "get": {
        "description": "Get landings list with statistics. Returns array by default, or {total, items} when total_stat=true",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Landings"],
        "summary": "Get landings list",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Filter by title",
            "name": "title",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by type (landing, prelanding)",
            "name": "type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by landing IDs (comma-separated)",
            "name": "ids",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by tags (comma-separated)",
            "name": "tags",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Items per page",
            "name": "per",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Time interval",
            "name": "time_interval",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Date from (YYYY-MM-DD)",
            "name": "date_from",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Date to (YYYY-MM-DD)",
            "name": "date_to",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include total statistics (changes response format)",
            "name": "total_stat",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response (array)",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.Landing"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new landing page for the current user",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Landings"],
        "summary": "Create a new landing",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "Landing object",
            "name": "landing",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.Landing"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/models.Landing"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/landings/{id}": {
      "get": {
        "description": "Get landing by ID",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Landings"],
        "summary": "Get landing by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Landing ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Landing"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "put": {
        "description": "Update landing",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Landings"],
        "summary": "Update landing",
        "parameters": [
          {
            "type": "string",
            "description": "Landing ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "Landing data",
            "name": "landing",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.Landing"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Landing"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "delete": {
        "description": "Delete landing",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Landings"],
        "summary": "Delete landing",
        "parameters": [
          {
            "type": "string",
            "description": "Landing ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/emptypb.Empty"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "description": "Languages list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Languages list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/providers.Language"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/me/settings": {
      "get": {
        "description": "Get user settings",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Settings"],
        "summary": "Get user settings",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.Settings"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "put": {
        "description": "Update user settings",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Settings"],
        "summary": "Update user settings",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "settings data",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.Settings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Settings"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/networks": {
      "get": {
        "description": "Get affiliate networks list with statistics. Returns array by default, or {total, items} when total_stat=true",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Networks"],
        "summary": "Get networks (offer sources) list",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Filter by title",
            "name": "title",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by network IDs (comma-separated)",
            "name": "ids",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Items per page",
            "name": "per",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Time interval",
            "name": "time_interval",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Date from (YYYY-MM-DD)",
            "name": "date_from",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Date to (YYYY-MM-DD)",
            "name": "date_to",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include total statistics (changes response format)",
            "name": "total_stat",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response (array)",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.AffiliateNetwork"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new affiliate network for the current user.\nFor premium API only",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Networks"],
        "summary": "Create affiliate network",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "Network data",
            "name": "network",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.AffiliateNetwork"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/models.AffiliateNetwork"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Error saving network",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/networks/{id}": {
      "get": {
        "description": "Get affiliate network by ID",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Networks"],
        "summary": "Get network by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Network ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.AffiliateNetwork"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "put": {
        "description": "Update affiliate network",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Networks"],
        "summary": "Update network",
        "parameters": [
          {
            "type": "string",
            "description": "Network ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "Network data",
            "name": "network",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.AffiliateNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.AffiliateNetwork"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "delete": {
        "description": "Delete affiliate network",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Networks"],
        "summary": "Delete network",
        "parameters": [
          {
            "type": "string",
            "description": "Network ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/emptypb.Empty"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/offers": {
      "get": {
        "description": "Get offers list with statistics. Returns array by default, or {general_total, total, items} when total_stat=true",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Offers"],
        "summary": "Get offers list",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Filter by title",
            "name": "title",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by offer IDs (comma-separated)",
            "name": "ids",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by network IDs (comma-separated)",
            "name": "networks",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by countries (comma-separated)",
            "name": "countries",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status (comma-separated)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by tags (comma-separated)",
            "name": "tags",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Items per page",
            "name": "per",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Time interval",
            "name": "time_interval",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Date from (YYYY-MM-DD)",
            "name": "date_from",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Date to (YYYY-MM-DD)",
            "name": "date_to",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include total statistics (changes response format)",
            "name": "total_stat",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by pixel ID",
            "name": "pixel_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Pixel date from (YYYY-MM-DD)",
            "name": "pixel_date_from",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Pixel date to (YYYY-MM-DD)",
            "name": "pixel_date_to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response (array)",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.Offer"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "post": {
        "description": "Create offer",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Offers"],
        "summary": "Create offer",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "offer data",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.Offer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/models.Offer"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/offers/export": {
      "get": {
        "description": "Export offers to aws s3",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Offers"],
        "summary": "Export offers to aws s3",
        "parameters": [
          {
            "type": "string",
            "description": "ids",
            "name": "ids",
            "in": "query"
          },
          {
            "type": "string",
            "description": "title",
            "name": "title",
            "in": "query"
          },
          {
            "type": "string",
            "description": "networks",
            "name": "networks",
            "in": "query"
          },
          {
            "type": "string",
            "description": "countries",
            "name": "countries",
            "in": "query"
          },
          {
            "type": "string",
            "description": "status",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "tags",
            "name": "tags",
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/offers/status": {
      "patch": {
        "description": "Update status for multiple offers",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Offers"],
        "summary": "Update offers status",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Offer IDs (comma-separated)",
            "name": "ids",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Status (1-active, 2-paused, 3-deleted)",
            "name": "status",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/offers/{id}": {
      "get": {
        "description": "Get offer by ID",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Offers"],
        "summary": "Get offer by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Offer ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Offer"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "put": {
        "description": "Update offer",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Offers"],
        "summary": "Update offer",
        "parameters": [
          {
            "type": "string",
            "description": "offer id",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "offer data",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.Offer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Offer"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/os": {
      "get": {
        "description": "OS list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "OS list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.OS"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/os_fullnames": {
      "get": {
        "description": "OS names list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "OS names list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.OSFullName"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/proxy_types": {
      "get": {
        "description": "Proxy types list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Proxy types list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/pub/auth": {
      "post": {
        "description": "Publisher auth",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["WhiteLabel"],
        "summary": "Publisher auth",
        "parameters": [
          {
            "type": "string",
            "description": "email",
            "name": "login",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "password",
            "name": "password",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "whitelabel domain",
            "name": "Referer",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Publisher"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/pub/campaigns": {
      "get": {
        "description": "Publisher campaigns",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["WhiteLabel"],
        "summary": "Publisher campaigns",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "filter by campaign name",
            "name": "title",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d,61f190c31cfe1c000181572e",
            "description": "filter by sources",
            "name": "source_ids",
            "in": "query"
          },
          {
            "type": "string",
            "example": "2022-04-22",
            "description": "date from",
            "name": "date_from",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "2022-04-22",
            "description": "date to",
            "name": "date_to",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.Campaign"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/pub/me": {
      "get": {
        "description": "Publisher info",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["WhiteLabel"],
        "summary": "Publisher info",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Publisher"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/pub/payments": {
      "get": {
        "description": "Publisher payments",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["WhiteLabel"],
        "summary": "Publisher payments",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "2022-04-22",
            "description": "date from",
            "name": "date_from",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "2022-04-22",
            "description": "date to",
            "name": "date_to",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "example": 1,
            "description": "page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "example": 100,
            "description": "page limit, max 1000",
            "name": "per",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/gin.H"
                },
                {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/models.PubPayment"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      },
      "post": {
        "description": "Request payment",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["WhiteLabel"],
        "summary": "Request payment",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "payment info",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.PubPayment"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/models.PubPayment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/pub/payments/{id}": {
      "put": {
        "description": "Update payment",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["WhiteLabel"],
        "summary": "Update payment",
        "parameters": [
          {
            "type": "string",
            "description": "payment id",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "payment info",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.PubPayment"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/models.PubPayment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/pub/postbacks": {
      "post": {
        "description": "Publisher conversions",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["WhiteLabel"],
        "summary": "Publisher conversions",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "filters",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/forms.PubPostbacksLogsForm"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/gin.H"
                },
                {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/models.ConversionView"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/pub/profile": {
      "put": {
        "description": "Update publisher info",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["WhiteLabel"],
        "summary": "Update publisher info",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "publisher info",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.PublisherProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Publisher"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/pub/publishers": {
      "post": {
        "description": "Signup",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["WhiteLabel"],
        "summary": "Signup",
        "parameters": [
          {
            "description": "publisher info",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/publishers.NewPublisherBody"
            }
          },
          {
            "type": "string",
            "description": "invite",
            "name": "invite",
            "in": "query"
          },
          {
            "type": "string",
            "description": "whitelabel domain",
            "name": "Referer",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/models.Publisher"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/pub/referrals": {
      "get": {
        "description": "Get publishers participated in referral program",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Publishers"],
        "summary": "Get participants of referral program",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "example": 1,
            "description": "page number",
            "name": "page",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "example": 100,
            "description": "page limit",
            "name": "per",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "desc",
            "description": "sorting direction",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "example": "someemail@gmail.com",
            "description": "email",
            "name": "email",
            "in": "query"
          },
          {
            "type": "string",
            "example": "email@domain.com",
            "description": "invited_by_email",
            "name": "invited_by_email",
            "in": "query"
          },
          {
            "type": "string",
            "example": "2023-10-20",
            "description": "date_from",
            "name": "date_from",
            "in": "query"
          },
          {
            "type": "string",
            "example": "2023-10-21",
            "description": "date_to",
            "name": "date_to",
            "in": "query"
          },
          {
            "type": "string",
            "example": "lasthour",
            "description": "time_interval",
            "name": "time_interval",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/referral.Report"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/pub/reports/traffic": {
      "get": {
        "description": "Publisher stat",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["WhiteLabel"],
        "summary": "Publisher stat",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "campaign,sub1,sub2,sub3",
            "description": "group",
            "name": "group",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "2022-04-22",
            "description": "date from",
            "name": "date_from",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "2022-04-22",
            "description": "date to",
            "name": "date_to",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d,61f190c31cfe1c000181572e",
            "description": "filter by campaigns",
            "name": "campaign_ids",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d,61f190c31cfe1c000181572e",
            "description": "filter by sources",
            "name": "source_ids",
            "in": "query"
          },
          {
            "type": "boolean",
            "example": true,
            "description": "includes total statistics",
            "name": "total",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/models.Stat"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/pub/reset_password": {
      "post": {
        "description": "Reset password",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["WhiteLabel"],
        "summary": "Reset password",
        "parameters": [
          {
            "type": "string",
            "description": "email",
            "name": "login",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "whitelabel domain",
            "name": "Referer",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/pub/settings": {
      "get": {
        "description": "Whitelabel settings",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["WhiteLabel"],
        "summary": "Whitelabel settings",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "whitelabel domain",
            "name": "Referer",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.PubSettings"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/publishers/export": {
      "get": {
        "description": "Export publishers to aws s3",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Publishers"],
        "summary": "Export publishers to aws s3",
        "parameters": [
          {
            "type": "string",
            "description": "status",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "sources",
            "name": "sources",
            "in": "query"
          },
          {
            "type": "string",
            "description": "sortby",
            "name": "sortby",
            "in": "query"
          },
          {
            "type": "string",
            "description": "direction",
            "name": "direction",
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/publishers/referral": {
      "get": {
        "description": "Get publishers participated in referral program",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Publishers"],
        "summary": "Get participants of referral program",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "example": 1,
            "description": "page number",
            "name": "page",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "example": 100,
            "description": "page limit",
            "name": "per",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "desc",
            "description": "sorting direction",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "example": "someemail@gmail.com",
            "description": "email",
            "name": "email",
            "in": "query"
          },
          {
            "type": "string",
            "example": "email@domain.com",
            "description": "invited_by_email",
            "name": "invited_by_email",
            "in": "query"
          },
          {
            "type": "string",
            "example": "2023-10-20",
            "description": "date_from",
            "name": "date_from",
            "in": "query"
          },
          {
            "type": "string",
            "example": "2023-10-21",
            "description": "date_to",
            "name": "date_to",
            "in": "query"
          },
          {
            "type": "string",
            "example": "lasthour",
            "description": "time_interval",
            "name": "time_interval",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/referral.Report"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/publishers/{id}": {
      "put": {
        "description": "Update publisher info",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Publishers"],
        "summary": "Update publisher info",
        "parameters": [
          {
            "type": "string",
            "description": "publisher id",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "description": "publisher info",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.Publisher"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.Publisher"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/regions": {
      "get": {
        "description": "Regions list",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Dictionaries"],
        "summary": "Regions list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/api.Err"
            }
          }
        }
      }
    },
    "/report": {
      "get": {
        "description": "Traffic Report (20 RPM limit)",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "tags": ["Reports"],
        "summary": "Report",
        "parameters": [
          {
            "type": "string",
            "description": "API key",
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "campaign,sub1,sub2,sub3",
            "description": "group",
            "name": "group",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "2022-04-22",
            "description": "date from",
            "name": "date_from",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "2022-04-22",
            "description": "date to",
            "name": "date_to",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "example": "true",
            "description": "cached costs (fast report)",
            "name": "tracks_view",
            "in": "query"
          },
          {
            "type": "string",
            "example": "UTC",
            "description": "custom timezone",
            "name": "timezone",
            "in": "query"
          },
          {
            "type": "string",
            "example": "lasthour",
            "description": "custom time interval",
            "name": "time_interval",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d,61f190c31cfe1c000181572e",
            "description": "filter by campaigns",
            "name": "campaign_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d,61f190c31cfe1c000181572e",
            "description": "filter by sources",
            "name": "source_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d,61f190c31cfe1c000181572e",
            "description": "filter by offers",
            "name": "offer_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d,61f190c31cfe1c000181572e",
            "description": "filter by landings",
            "name": "landing_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "61f190c31cfe1c000181572d,61f190c31cfe1c000181572e",
            "description": "filter by networks",
            "name": "network_id",
            "in": "query"
          },
          {
            "type": "string",
            "example": "value1,value2",
            "description": "filter by sub1",
            "name": "sub1",
            "in": "query"
          },
          {
            "type": "string",
            "example": "value1,value2",
            "description": "filter by sub2",
            "name": "sub2",
            "in": "query"
[...]
